In [ ]:
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as st

In [ ]:
df_r = pd.read_csv("datasets/rides.csv", sep=",", encoding="utf-8")
df_w = pd.read_csv("datasets/weather.csv", sep=",", encoding="utf-8")
df_r.columns = df_r.columns.str.lower().str.replace(" ", "_")
df_w.columns = df_w.columns.str.lower().str.replace(" ", "_")

In [ ]:
# df_r.info()


def streets_format(tdf, column):
    tdf[column] = tdf[column].str.lower()
    tdf[column] = tdf[column].replace(regex=r"ул\.?\s?", value="")
    return tdf


def rayons_format(tdf, column):
    tdf[column] = tdf[column].str.lower()
    return tdf


for x in ["start_location", "end_location"]:
    df_r = streets_format(df_r, x)

for x in ["start_district", "end_district"]:
    df_r = rayons_format(df_r, x)

df_r["promo"] = df_r["promo"].apply(lambda x: True if x == 1 else False)
df_r["start_date"] = pd.to_datetime(df_r["start_date"])
df_r["end_date"] = pd.to_datetime(df_r["end_date"])
# print(df_r["promo"].unique())
# df_r.info()
# df_r.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102255 entries, 0 to 102254
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              102255 non-null  int64
 1   start_date      102255 non-null  datetime64[ns]
 2   end_date        101676 non-null  datetime64[ns]
 3   start_location  102255 non-null  object
 4   start_district  102255 non-null  object
 5   end_location    102255 non-null  object
 6   end_district    102255 non-null  object
 7   distance        101022 non-null  float64
 8   promo           102255 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 6.3+ MB

,id,start_date,end_date,start_location,start_district,end_location,end_district,distance,promo
0,100340,2023-04-22 09:01:03,2023-04-22 09:24:45,шевченко,юго-восточный,майская,октябрьский,4069.0,False
1,100341,2023-04-22 09:01:07,2023-04-22 09:29:32,чехова,заречный,спортивная,октябрьский,4515.0,False
2,100342,2023-04-22 09:04:27,2023-04-22 09:42:46,буденного,октябрьский,суворова,ленинский,4520.0,False
3,100343,2023-04-22 09:06:34,2023-04-22 09:38:23,труда,центральный,рабочая,северо-западный,3881.0,False
4,100344,2023-04-22 09:09:27,2023-04-22 09:40:07,первомайская,северо-западный,юбилейная,юго-восточный,4029.0,False
5,100345,2023-04-22 09:10:09,2023-04-22 09:49:56,лесная,юго-восточный,западная,ленинский,4879.0,False
6,100346,2023-04-22 09:15:12,2023-04-22 09:26:01,пролетарская,центральный,свободы,ленинский,1846.0,False
7,100347,2023-04-22 09:19:13,2023-04-22 09:40:03,комарова,ленинский,западная,ленинский,3133.0,False
8,100348,2023-04-22 09:21:42,2023-04-22 09:39:04,западная,ленинский,озерная,юго-восточный,3.0,False
9,100349,2023-04-22 09:28:00,2023-04-22 10:02:08,свободы,ленинский,чкалова,юго-восточный,5263.0,False

In [ ]:
profile = ProfileReport(
    df_r,
    title="Profiling Report",
    correlations={
        "auto": {"calculate": False},
        "pearson": {"calculate": True},
        "spearman": {"calculate": True},
        "kendall": {"calculate": True},
        "phi_k": {"calculate": True},
        "cramers": {"calculate": True},
    },
)
profile